.container {
  width: 85%;
  padding: 20px 10%;
  margin: auto;
  position: relative;

  @media(max-width: 400px) {
    width: 95%;
  }
}
.container-user {
  width: 100%;
  height: auto;
  padding: 15px;
  background: #fff;
  border-radius: 5px;
  margin-top: 1rem;
  box-shadow: 0 15px 25px rgba(0,0,0,.05);
}

